<!-- {{userLoggedIn}}:observable {{onMenuShow}}:current route -->
<div id="wrapper">
    <!-- <app-spinner></app-spinner> -->
    <ul *ngIf="userLoggedIn || onMenuShow" class="navbar-nav sidebar sidebar-bright themebgColor" id="accordionSidebar">
        <app-sidebar [toggleChanged]="isMenuToggled"></app-sidebar>
        <br>
        <br>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0 toggle-btn" id="sidebarToggle" (click)="onMenuToggled()">
                <i class="fas fa-left-right"></i> <!-- Updated with FontAwesome Star Icon -->
            </button>
        </div>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column main_layout">
        <div id="content" class="main_content">
            <app-navbar *ngIf="userLoggedIn || onMenuShow" (logoutUser)="userLoggedIn = $event"></app-navbar>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
