.navWidth {
    background: #F4EFEF;
    width: 84.92%;
    left: 16.03%;
}

.div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.rectangle {
    top: 367px;
    left: 893px;
    position: absolute;
    width: 416px;
    height: 243px;
    background-color: #d9d9d9;
}

.overlap-group {
    //
    width: 18%;
    height: 100%;
    background-color: #10ddb8;
}

.b_icon {
    //
    width: 35px;
    position: absolute;
    top: 2.7%;
    left: 0.6%;
}

.text-wrapper {
    //
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
}

.brain_squeezes {
    top: 30px;
    left: 4%;
}

.line {
    //
    width: 100%;
    color: white;
    top: 76px;
    position: absolute;
}

.line2 {
    //
    color: white;
    width: 70%;
    padding: -38px;
    margin: 0px;
}

.overlap-3 {
    position: absolute;
    width: 270px;
    height: 90px;
    top: 154px;
    left: 12px;
}

_tab {
    //
    left: 14%;
    bottom: 102%;
}

_icon {
    //
    width: 35px;
    position: absolute;
    bottom: 100%;
    left: -2%;
}

.icons-dashboard {
    //
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.categories_tab {
    //
    left: 4%;
    top: 20.3%;

}

.categorize_icon {
    //
    position: absolute;
    width: 35px;
    left: 0.5%;
    top: 20%;
}

.questions_tab {
    //
    left: 4%;
    top: 25.3%;
}

.questions_icon {
    //
    position: absolute;
    width: 35px;
    left: 0.5%;
    top: 25%;
}

.tags_tab {
    //
    left: 4%;
    top: 30.3%;
}

.tags_icon {
    //
    position: absolute;
    width: 35px;
    left: 0.5%;
    top: 30%;
}

//    .text-wrapper-5 {
//     position: absolute;
//     width: 206px;
//     top: 456px;
//     left: 76px;
//     font-family: "Inter-SemiBold", Helvetica;
//     font-weight: 600;
//     color: #ffffff;
//     font-size: 27px;
//     letter-spacing: 0;
//     line-height: normal;
//   }

//    .tasks {
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     top: 367px;
//     left: 12px;
//     object-fit: cover;
//   }

//    .tags {
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     top: 449px;
//     left: 12px;
//     object-fit: cover;
//   }

.overlap-5 {
    position: absolute;
    width: 80px;
    height: 90px;
    top: 599px;
    left: 99px;
}

.circle_icon {
    border-radius: 50%;
    position: absolute;
    top: -210px;
    width: 50px;
    height: 50px;
    left: -15px;
}

//    .circle {
//     position: absolute;
//     width: 80px;
//     height: 80px;
//     top: 10px;
//     left: 0;
//     object-fit: cover;
//   }

.text-wrapper-6 {
    position: absolute;
    width: 36px;
    top: 0;
    left: 22px;
    font-family: "Kavoon-Regular", Helvetica;
    font-weight: 400;
    color: #10ddb8;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.overlap-6 {
    position: absolute;
    width: 1147px;
    height: 179px;
    top: 0;
    left: 293px;
    background-color: #f4efef;
}

.div-wrapper {
    position: absolute;
    width: 329px;
    height: 78px;
    top: 50px;
    left: 41px;
    background-color: #ffffff;
    border-radius: 5px;
}

.text-wrapper-7 {
    position: absolute;
    width: 267px;
    top: 21px;
    left: 18px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #a9a6a6;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.search-wrapper {
    position: absolute;
    width: 76px;
    height: 78px;
    top: 50px;
    left: 379px;
    background-color: #10ddb8;
    border-radius: 0px 15px 15px 0px;
}

.search {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 14px;
    object-fit: cover;
}

.overlap-7 {
    position: absolute;
    width: 348px;
    height: 80px;
    top: 52px;
    left: 752px;
}

.text-wrapper-8 {
    position: absolute;
    width: 274px;
    top: 16px;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #a9a6a6;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.profile {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 268px;
    object-fit: cover;
}

.notification {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 65px;
    left: 573px;
    object-fit: cover;
}

.mail {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 65px;
    left: 647px;
    object-fit: cover;
}

.line-2 {
    width: 1px;
    height: 77px;
    top: 51px;
    left: 727px;
    position: absolute;
    object-fit: cover;
}

.text-wrapper-9 {
    width: 443px;
    top: 219px;
    left: 334px;
    color: #a9a6a6;
    font-size: 48px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
}

.rectangle-2 {
    top: 364px;
    left: 361px;
    position: absolute;
    width: 416px;
    height: 243px;
    background-color: #d9d9d9;
}

.rectangle-3 {
    top: 677px;
    left: 893px;
    position: absolute;
    width: 416px;
    height: 243px;
    background-color: #d9d9d9;
}

.rectangle-4 {
    top: 682px;
    left: 361px;
    position: absolute;
    width: 416px;
    height: 243px;
    background-color: #d9d9d9;
}

.ask-question-wrapper {
    position: absolute;
    width: 329px;
    height: 93px;
    top: 207px;
    left: 1040px;
    background-color: #10ddb8;
    border-radius: 8px;
}

.ask-question {
    position: absolute;
    width: 291px;
    top: 13px;
    left: 33px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.span {
    font-weight: 800;
}

.text-wrapper-10 {
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 32px;
}


.sidebar {
    width: 250px;
    background-color: red;
    color: #fff;
  }
  
  .navbar {
    height: 60px;
    background-color: #250ce6;
    color: #fff;
  }
  
  .dashboard {
    margin-left: 250px; /* Adjust the margin to match the sidebar width */
    margin-top: 60px; /* Adjust the margin to match the navbar height */
    padding: 20px;
    background-color:#0ce638
  }
  
//   .chart-container {
//     width: 100%;
//     height: 300px; /* Adjust the height as needed */
//     position: fixed;
//     bottom: 0;
//     left: 0;
//   }