<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="recent-questions">Recent Questions</h1>
        <button type="button" class="btn ask-question-btn"
            (click)="isQuestionType(true)" data-bs-toggle="modal" data-bs-target="#filesModal">
            + Ask Question
        </button>
    </div>
</div>

<div class="m-3 mt-0 accordian" *ngFor="let que of questions; let ind = index">
    <div class="container question-container">
        <h4 class="mb-0 themeColor">Question Id: {{'#'}}{{que.qid}}</h4>
        <app-qanda-accordian [data]="que"></app-qanda-accordian>
        <hr *ngIf="onAnswersAvailable(ind)">
        <h4 class="mb-0 answer-heading" *ngIf="onAnswersAvailable(ind)">Answers:</h4>
        <div *ngFor="let ans of answers; let i = index">
            <div *ngIf="ans.qid === que.qid">   
                <app-qanda-accordian [data]="ans" [question_type]="false"></app-qanda-accordian>
            </div>
        </div>
    </div>
</div>

<app-qanda-popup></app-qanda-popup>
